body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#BBBBBB;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:9px;
    height:100%;
    margin:0px;
    padding:0px;
}

.page {
	display:none;
	padding:0px 0.5em;
}

#overzicht {
	display:block;
}

#sub-head {
	padding:0.5em;
	background-color:#666666;
}

#head {
	background-image: linear-gradient(to bottom, #343434, #444444);
	background-image:-webkit-linear-gradient(top, #343434 0%, #444444 51%);
    background-image:-ms-linear-gradient(top, #343434 0%, #444444 51%);
    background-image:-webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0, #343434),
    	color-stop(0.51, #444444)
    );
	padding:1em;
	padding-bottom:0px;
}

.tab {
	display:inline-block;
	background-color: #242424;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	color:white;
	padding:1em 0px;
	border-radius: 4px 4px 0px 0px;
	width:25%;
	text-align:center;
}

.tab.selected {
	background-color:#666666;
	color:black;
	font-weight:bold;
}

#tab-kaart {
	width:17%;
	float:right;
}

#overzicht p {
	border-bottom:1px solid black;
	padding-bottom:1em;
}

.activity {
	border-bottom:1px solid black;
	padding:0 1em;
	margin:0 1em;
}

.child {
	border-bottom:1px solid black;
	padding:0 1em;
	margin:0 1em;
	display:none;
}

.child p {
	position:relative;
	left:2em;
}

.activity.expanded {
	font-weight:bold;
}

.activity p {
	display:inline-block;
}

.expand {
	float:right;
}

.info {
	padding-bottom:1em;
	border-bottom:1px solid black;
}

.plaatje {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:15em;
	width:auto;
}

.big-img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	position:relative;
	top:3em;
}

@media screen and (min-width:320px) {
	body {
		font-size:12px;
	}
	
	.tab {
		border-radius: 5px 5px 0px 0px;
	}
}

@media screen and (min-width:480px) {
	body {
		font-size:18px;
	}
	
	.tab {
		border-radius: 8px 8px 0px 0px;
	}
}

@media screen and (min-width:540px) {
	body {
		font-size: 20px;
	}
}

@media screen and (min-width:695px) {
	body {
		font-size:26px;
	}

	.tab {
		border-radius: 11px 11px 0px 0px;
	}
}

@media screen and (min-width:855px) {
	body {
		font-size:32px;
	}

	.tab {
		border-radius: 13px 13px 0px 0px;
	}
}

@media screen and (min-width:1015px) {
	body {
		font-size:38px;
	}
		
	.tab {
		border-radius: 16px 16px 0px 0px;
	}
}
